name: Linting

on:
  push:
    branches:
      - main
      - release-2.[3-9]
  pull_request:
    branches:
      - main
      - release-2.[3-9]

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Linting
    steps:
    - name: Checkout the repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Fetch all history for all tags and branches

    - name: Set up Go
      uses: actions/setup-go@v5
      id: go
      with:
        go-version-file: go.mod

    - name: Verify modules
      run: |
        go mod verify

    - name: Linting
      run: |
        make lint

    - name: Verify format
      run: |
        make fmt
        git diff --exit-code
