name: Unit Tests

on:
  push:
    branches:
      - main
      - release-[0-9]+.[0-9]+
  pull_request:
    branches:
      - main
      - release-[0-9]+.[0-9]+

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        id: go
        with:
          go-version-file: go.mod

      - name: Test Coverage and Report Generation
        run: |
          make test-coverage
          make gosec-scan

      - name: Store the GitHub triggering event for the sonarcloud workflow
        env:
          EVENT_JSON: ${{ toJSON(github.event) }}
        if: |
          github.repository_owner == 'stolostron'
        run: |
          printf '%s' "${EVENT_JSON}" > event.json

      - name: Upload artifacts for the sonarcloud workflow
        if: |
          github.repository_owner == 'stolostron'
        uses: actions/upload-artifact@v6
        with:
          name: artifacts
          path: |
            coverage*.out
            event.json
            gosec.json
